.main-head{
            height: 150px;
            background: #FFF;
        }
        .sidenav {
            height: 100%;
            background-color: #1E90FF;
            overflow-x: hidden;
            padding-top: 20px;
        }
        .main {
            padding: 0px 10px;
        }
        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
        }
        @media screen and (max-width: 450px) {
            .login-form{
                margin-top: 10%;
            }
            .register-form{
                margin-top: 10%;
            }
        }
        @media screen and (min-width: 768px){
            .main{
                margin-left: 40%;
            }
            .sidenav{
                width: 40%;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
            }
            .login-form{
                margin-top: 50%;
            }
            .register-form{
                margin-top: 20%;
            }
        }
        .login-main-text{
            margin-top: 20%;
            padding: 20px;
            color: black;
            background-color: #1e90ff;
            opacity : 0.7
        }


        .login-main-text h2{
            font-weight: 300;
        }

        .btn-blue {
            background-color: #1E90FF !important;
            color: #fff;
            transition-duration: 0.4s;
        }
        .btn-green:hover {
            background-color: #1E90FF !important;
            color: #fff;
        }

body{
	font-size: 1em;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #e6e6e6;
    padding-top: 100px;
    }

.branco{
	color: #FFFFFF;
}

h4{
	font-size: 15px;
	text-align: center;
}


