{% extends 'base.html' %}
{% block conteudo_janela %}

<style>
    .page-header{
          margin: 0px;
          padding: 0px;
    }
</style>

<div class="page-header">
    <h3 class="mb-3">Exclusão de Usuário.</h3>
</div>

<form method="post">
    {% csrf_token %}
    <h2>Deseja remover o Usuário: <strong>{{ cliente.nome }}</strong> ?</h2>

    </br>

    <a href="{% url 'index' %}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</a>
    <button type="submit" class="btn btn-success navbar-right"><i class="fa fa-check" aria-hidden="true"></i> Confirmar
    </button>
</form>

{% endblock %}

